#Python Lists

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:


*   **List** is a collection which is ordered and changeable. Allows duplicate members.
*   **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
*   **Set** is a collection which is unordered and unindexed. No duplicate members.
*   **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.


When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

---

**List**

A list is a collection which is ordered and changeable. In Python lists are written with square brackets. [ ]

---

In [0]:
# Example
thislist = ["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**Access Items**

You access the list items by referring to the index number: (Index numbering start from 0 to n-1)

---

In [0]:
thislist = ["apple","banana","cherry"]
print(thislist[1])

banana

**Change Item Value**

To change the value of a specific item, refer to the index number:

---

In [0]:
thislist = ["apple","banana","cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Loop Through a List**

You can loop through the list items by using a for loop:

---

In [0]:
thislist = ["apple","banana","cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**Check if Item Exists**

To determine if a specified item is present in a list use the **in keyword**:

In [0]:
thislist = ["apple","banana","cherry"]
if "banana" in thislist:
  print("Yes, banana in this fruit list")

Yes, banana in this fruit list

**List Length**

To determine how many items a list has, use the **len() method**:

---

In [0]:
thislist = ["apple","banana","cherry"]
print(len(thislist))

3

**Add Items**

To add an item to the end of the list, use the **append() method**:

---

In [0]:
thislist = ["apple","banana","cherry"]
thislist.append("blackcurrant")
print(thislist)

['apple', 'banana', 'cherry', 'blackcurrant']

To add an item at the specified index, use the **insert() method:**

In [0]:
thislist = ["apple","banana","cherry"]
thislist.insert(2,"orange")
print(thislist)

['apple', 'banana', 'orange', 'cherry']

**Remove Item**

There are several methods to remove items from a list using **remove() method**:

---

In [0]:
thislist = ["apple","banana","cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The **pop() method** removes the specified index, (or the last item if index is not specified):

---

In [0]:
thislist = ["apple","banana","cherry"]
thislist.pop()
print(thislist)

thislist.pop(1)
print(thislist)

['apple', 'banana']
['apple']

The **del keyword** removes the specified index:

---

In [0]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The **del keyword** can also delete the list completely:

In [0]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist) #this will cause an error because "thislist" no longer exists.

NameError: ignored

The **clear() method** empties the list:

---

In [0]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

**The list() Constructor**

It is also possible to use the **list() constructor** to make a list.

In [0]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Method	Description**

**append()**	: Adds an element at the end of the list

**clear()**	: Removes all the elements from the list

**copy()** : Returns a copy of the list

**count()**	: Returns the number of elements with the specified value

**extend()**	: Add the elements of a list (or any iterable), to the end of the current list

**index()**	: Returns the index of the first element with the specified value

**insert()**	: Adds an element at the specified position

**pop()**	: Removes the element at the specified position

**remove()**	: Removes the item with the specified value

**reverse()**	: Reverses the order of the list

**sort()**	: Sorts the list

**copy() : ** Returns a copy of the list

---

In [0]:
# Copy the fruits list in x:

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

**count()** : Returns the number of elements with the specified value

---

In [0]:
#Return the number of times the value "cherry" appears int the fruits list:

fruits = ['apple', 'banana', 'cherry', 'cherry']

x = fruits.count("cherry")

print(x)

2

**extend()** : Add the elements of a list (or any iterable), to the end of the current list

---

In [0]:
#Add the elements of cars to the fruits list:

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

**insert()** : Adds an element at the specified position

---

In [0]:
#Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

print(fruits)

['apple', 'orange', 'banana', 'cherry']

**reverse()** : Reverses the order of the list


---

In [0]:
fruits = ['apple','banana','cherry']
fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

**sort()** : Sorts the list

---

In [0]:
#Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']