#Tuples

**A tuple is a collection which is ordered and immutable (unchangeable). In Python tuples are written with round brackets.**


---

In [0]:
thistuple = ("apple","banana","cherry")
print(thistouple)

('apple', 'banana', 'cherry')

**Access Tuple Items**

You can access tuple items by referring to the index number, inside square brackets: (indexing start from 0 to n-1)

---

In [0]:
thistuple = ("apple","banana","cherry")
print(thistuple[1])

banana

**Change Tuple Values**

Once a tuple is created, you cannot change its values. **Tuples are unchangeable**.

---

In [0]:
thistuple = ("apple","banana","cherry")
thistuple[1]="blackcurrat"
print(thistuple)

TypeError: ignored

**Loop Through a Tuple**

You can loop through the tuple items by using a **for loop**.

---

In [0]:
thistuple = ("apple","banana","cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

**Check if Item Exists**

To determine if a specified item is present in a tuple use the **in keyword**:

---

In [0]:
thistuple = ("apple","banana","cherry")
if "banana" in thistuple:
  print("Yes, Banana in this tuple")

Yes, Banana in this tuple

**Tuple Length**

To determine how many items a tuple has, use the **len() method**:

---

In [0]:
thistuple = ("apple","banana","cherry")
print(len(thistuple))

3

**Add Items**

Once a tuple is created, you cannot add items to it. **Tuples are unchangeable.**

---

In [0]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: ignored

**Remove Items**

Note: You cannot remove items in a tuple.Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

---

In [0]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

**The tuple() Constructor**

It is also possible to use the tuple() constructor to make a tuple.

---

In [0]:
thistuple = tuple(("apple","banana","cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

**Tuple Methods**

Python has two built-in methods that you can use on tuples.

**count():** Returns the number of times a specified value occurs in a tuple

**index()	:** Searches the tuple for a specified value and returns the position of where it was found

In [0]:
thistuple = (1, 3, 7, 8, 7, 7, 5, 4, 6, 8, 5)

x = thistuple.count(7)

print(x)

3

In [0]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3